name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
        
    - name: Code sanity
      run: make code-up-to-date

    - name: Test
      run: make test-with-report

    - uses: actions/upload-artifact@v2
      with:
        name: coverage
        path: coverage*.*
    
    - name: Coverage summary
      shell: bash
      run: |
        tail -n1 coverage-summary.txt | awk '{print "Coverage summary: " $3}'